<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

<!--	<context:component-scan base-package="com.juan"></context:component-scan>-->
<!--	<bean id="accountService" class="com.juan.service.AccountService">-->
<!--		<property name="personService" ref="personService"/>-->
<!--	</bean>-->

<!--	<bean id="personService" class="com.juan.service.PersonService"></bean>-->
<!--	<bean id="a" class="com.juan.circula.StudentA">
		<constructor-arg index="0" ref="b"></constructor-arg>
	</bean>
	<bean id="b" class="com.juan.circula.StudentB">
		<constructor-arg index="0" ref="c"></constructor-arg>
	</bean>
	<bean id="c" class="com.juan.circula.StudentC">
		<constructor-arg index="0" ref="a"></constructor-arg>
	</bean>-->

	<!--scope="singleton"(默认就是单例方式)  -->
	<bean id="a" class="com.juan.circula.StudentA" scope="singleton">
		<property name="studentB" ref="b"></property>
	</bean>
	<bean id="b" class="com.juan.circula.StudentB" scope="singleton">
		<property name="studentC" ref="c"></property>
	</bean>
	<bean id="c" class="com.juan.circula.StudentC" scope="singleton">
		<property name="studentA" ref="a"></property>
	</bean>

</beans>